.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 614px;
	height: 100%;
	overflow-y: auto;
	background: #ffffff;
	transform: translateX(-614px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translateX(0);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 50px;
	box-sizing: border-box;
	width: 614px;
	min-height: 100vh;
	padding: 50px 30px 40px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	margin-top: 153px;
}
